body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FBC02D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 600px;
    padding: 20px;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.image-container img {
    position: absolute;
    width: 100%;
    left: 0;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.time {
    font-size: 24px;
}

.time span {
    display: block;
}

.development {
    margin-bottom: 20px;
    color: #D32F2F;
    font-style: italic;
}

.contact, .company-name {
    font-size: 18px;
}

.contact a {
    color: inherit;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}
